profiles {
    IEO_conf {
        process {
            submitRateLimit = '10 sec' 
            
            // Update amount of max retries and set "retry" as the error strategy for all error codes
            errorStrategy = 'retry'
            maxRetries = 5
            maxErrors = '-1'

            // General resource requirements
            cpus   = { 1        * task.attempt }
            memory = { 6.GB     * task.attempt }  
            time   = { 4.h      * task.attempt } 

            // Process-specific resource requirements
            withLabel:process_single {
                cpus   = 1
                memory = { 6.GB * task.attempt }
                time   = { 4.h  * task.attempt }
            }
            withLabel:process_low {
                cpus   = { 2     * task.attempt }
                memory = { 12.GB * task.attempt }
                time   = { 2.h   * task.attempt }
            }
            withLabel:process_medium { 
                cpus   = { 9    * task.attempt }
                memory = { 20.GB * task.attempt }
                time   = { 9.h   * task.attempt }
            }
            withLabel:process_high {
                cpus   = { 12    * task.attempt }
                memory = { 30.GB * task.attempt }
                time   = { 6.h  * task.attempt }
            }
            withLabel:process_long {
                cpus   = 9
                memory = 96.GB
                time   = { 14.h  * task.attempt }
            }
            withLabel:process_high_memory {
                cpus   = { 10     * task.attempt }
                memory = { 60.GB * task.attempt }
                time   = { 12.h   * task.attempt }
            }
        }
    }
}